#!/bin/bash

#-------------------------------------------------------------------------------
#
#-------------------------------------------------------------------------------
	SELF=$BASH_ARGV
	HERE="$(cd $(dirname "$SELF"); pwd)"

	SELF="$(basename "$SELF")"

#-------------------------------------------------------------------------------
PRINT()
{
	GRP="$1"; shift
	CMD="$1"; shift
	PAR="$*"

        printf "%-20s: %-10s (%s)\n" "$GRP" "$CMD" "$PAR"
}

#-------------------------------------------------------------------------------
	PRINT "config" "$HERE" "$SELF"

	VERSION_NODE=11.6.0

	export NVM_DIR="$HERE/.env/nvm"

	PRINT "setup" "nvm" "export NVM_DIR=$NVM_DIR"
	. /usr/local/opt/nvm/nvm.sh

	PRINT "set version" "nvm" "$VERSION_NODE"
        nvm use $VERSION_NODE --silent

	PRINT "Enabled" "nvm"      "$(nvm      --version)"
        PRINT "Enabled" "node"     "$(node     --version | sed '1,$s/v//g')"
        #PRINT "Enabled" "npm"      "$(npm      --version)"
        
	VERSION_PYTHON=2.7.14

	#PRINT "set latest" "pyenv" "$VERSION_PYTHON"
        #pyenv local $VERSION_PYTHON 2>&-
        #PRINT "Enabled" "python"   "$(python   --version 2>&1)"
        #PRINT "Enabled" "python2"  "$(python2  --version 2>&1)"

